{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "page:title" .}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta
            name="htmx-config"
            content='{
                "historyRestoreAsHxRequest": false,
                "responseHandling":[
                    {"code":"204", "swap": false},
                    {"code":"422", "swap": true},
                    {"code":"[45]..", "swap": true, "target": "body"},
                    {"code":"...", "swap": true}
                ]
            }'
        >

{{/* from https://www.alexedwards.net/blog/how-i-use-htmx-with-go

For 204 No Content responses, no action is taken and no changes are made to the DOM.
For 422 Unprocessable Content responses, HTMX swaps the response content into the target as normal.
For all other 4xx and 5xx responses, HTMX swaps the returned content into the <body> element.
For any other response, HTMX swaps the response content into the target as normal.

*/}}
        <link rel="stylesheet" href="/static/css/bamboo.min.css">
        <script defer src="/static/js/htmx.min.js"></script>
    </head>
    <body>
        <h1><a href="/">Example website</a></h1>
        <main>
            {{template "page:content" .}}
        </main>
    </body>
</html>
{{end}}
